.paragraph {
    font-family: 'Lora', serif;
    margin: 30px;
    text-align: center;
}

.paragraph--highlighted {
    font-family: 'Lora', serif;
    margin: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}